<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/flyerman</property>
    <property name="hibernate.connection.username">flyerman</property>
    <property name="hibernate.connection.password">flyerman123</property>
    
    <mapping resource="si/flyerman/mapings/Advert.hbm.xml" />
    <mapping resource="si/flyerman/mapings/Config.hbm.xml" />
    <mapping resource="si/flyerman/mapings/Binaries.hbm.xml" />
    <mapping resource="si/flyerman/mapings/Users.hbm.xml" />
  </session-factory>
</hibernate-configuration>
